@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Cricket Simulation</p>
        <p> Created as a Demo of Domain Driven Design in .NET</p>
        Click Button Below to Run Simulation
        <p><button onclick="location.href='/home/play'">Run</button></p>
    </div>
